@import url("https://fonts.googleapis.com/css2?family=Afacad:wght@400&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600&display=swap");

:root {
  font-family: "Afacad", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color: #181725;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: "Gilroy-Bold", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h2 {
  font-family: "Gilroy-Medium", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header,
footer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 170px;
  background-color: #693811;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header ul,
footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul li,
footer ul li {
  margin-left: 3rem;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  width: 100vw;
  min-height: calc(100vh - 60px);
  box-sizing: border-box;
  background-color: #dbb18d;
}

.hero {
  width: 100%;
  box-sizing: border-box;
  background-image: url("./assets/images/hero.png");
  background-size: cover;
  background-position: center;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 18px;
}

.hero span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

#services {
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 0 0 0 170px;
}

#services .image {
  display: flex;
}

#services .image img {
  width: 50vw;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

#services .content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 1rem;
}

#faq {
  width: 100%;
  box-sizing: border-box;
  background-color: #dbb18d;
  color: #181725;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 170px;
  gap: 32px;
}

.faq-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.faq-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 16px;
  border-bottom: solid 1px #181725;
  padding: 20px;
  font-size: 24px;
}

.faq-item div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-container {
  width: calc(100% - 340px);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  gap: 32px;
  align-self: center;
  background-color: white;
  color: #181725;
  border-radius: 20px;
  box-shadow: 0px 0px 4px 0 rgba(24, 23, 37, 0.25);
}

.form-container .form-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: left;
  width: 67%;
  gap: 4px;
  padding: 60px 80px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
  padding: 60px 80px;
  padding-left: 0;
}

form label {
  color: dimgray;
  font-size: 20px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  width: 90%;
}

form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 42px;
  color: #181725;
  font-family: "Afacad", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  padding: 8px;
  border: none;
  border-bottom: solid 1px #181725;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  z-index: 10;
}

.dropdown-menu li {
  padding: 0.5rem 1rem;
}

.dropdown-menu li a {
  text-decoration: none;
  color: inherit;
}

/* Show the dropdown when hovering on the parent */
.dropdown:hover .dropdown-menu {
  display: block;
}

button {
  display: inline-block;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Montserrat", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.error {
  color: red;
}
