:root {
  font-family: "Afacad", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;

  color: #181725;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

h2 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

header,
footer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 170px;
  background-color: #693811;
  color: white;
  width: 100%;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header ul,
footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul li,
footer ul li {
  margin-left: 4rem;
}

header ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

main {
  flex: 1;
  margin-top: 60px;
  width: 100%;
  box-sizing: border-box;
}

.hero {
  background-image: url("./assets/images/hero.png");
  background-size: cover;
  background-position: center;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 170px;
  color: white;
  gap: 18px;
}

.hero span {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.services {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 0 0 0 170px;
}

.services .image {
  display: flex;
}

.services .image img {
  width: 50vw;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.services .content {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 1rem;
}

.faq {
  background-color: #dbb18d;
  color: #181725;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 170px;
  gap: 32px;
}

.faq-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.faq-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 16px;
  border-bottom: solid 1px #181725;
  padding: 20px;
  font-size: 24px;
}

.faq-item div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

button {
  display: inline-block;
  width: 180px;
  height: 50px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: 600;
}
